.super-mario {
    width: 200px;
    position: relative;
    top: 10px;
    left: 10px;
  }
  
  .goomba {
    width: 100px;
    position: relative;
    top: 100px;
    left: -100px;
  }
  
  .baloon {
    position: relative;
    top: -430px;
    left: 200px;
    z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    position: relative;
    top: -600px;
    left: 400px;
    z-index: 5;
  }
  
  .bowser {
    width: 200px;
    position: relative;
    left: 150px;
  }