h1{
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

body{
    font-size: 16px;
}

p{
    background-color: grey;
    font-weight: 600;
    font-size: 3em;
    font-style: oblique;
    line-height: 4;
    text-align: justify;
    text-decoration: underline;
}

.bg{
    background-color: rgb(255, 212, 132);
}